# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# VSCode settings
.vscode/

# Backup files
*.swp
*~